@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<address>
    
    Downtown<br />
    Seattle, WA<br />
    <abbr title="Website">W:</abbr>
    <a href="https://aws.amazon.com/ecs/">aws.amazon.com/ecs/</a>
</address>
